.calendar-container {
	height: 90vh;
	width: 100%;
	display: flex;
}

.calendar-right-area {
	width: 30vh;
	height: 100%;
	border-right: 1px groove;
	border-radius: 5px;
}

.calendar-left-area {
	position: relative;
	width: 170vh;
	display: flex;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.calendar-week-column {
	display: flex;
	flex-direction: column;
}

.calendar-time-row {
	display: flex;
	height: 20vh;
	justify-content: center;
	width: 20vh;
}
.calendar-time-row-button {
	width: 100%;
	// border-style: none;
	border-bottom: 1px !important;
	height: 12vh;
	opacity: 0.7;
}
.calendar-week-Name {
	text-align: center;
	height: 10vh;
}
.calendar-event-type-form {
	display: flex;
	flex-direction: column;
}

.event-type {
	display: flex;
}
