.chat-room-container {
	margin-left: 5%;
	top: 10%;
	width: 50vh;
	height: 72vh;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat-room-header {
	border: 2px solid yellow;
}

.chat-room-text {
	bottom: 0;
	border: 2px solid yellow;
	display: flex;
	justify-content: space-between;
}

.chat-room-text-container {
	display: flex;
	flex-direction: column;
}
