.text-div-container {
	position: static;
	width: 100%;
	display: inline;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text-right {
	border-radius: 10px;
	border: 1px solid pink;
	padding: 5px 7px 5px 7px;
	float: right;
	color: white;
	background-color: green;
}
.text-left {
	border-radius: 10px;
	border: 1px solid pink;
	float: left;
	padding: 5px 7px 5px 7px;
	color: white;
	background-color: blue;
}
