.video-chat-container {
	width: 100%;
	height: 100%;
	border: 5px solid yellow;
}

.local_div {
	position: fixed;
	bottom: 20%;
	right: 0;
}

.remote_div {
	border: 5px solid black;
	width: 100%;
	height: 87vh;
}
.call-or-End {
	position: fixed;
	bottom: 10px;
	left: 50%;
}
.open-chat {
	position: fixed;
	bottom: 10px;
	left: 40%;
}

.remote-vieo {
	width: 100%;
	height: 100%;
}
